<ion-header>
  <ion-toolbar color ="new">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title class="ion-text-center">Password Recovery</ion-title>
        </ion-col>
          <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col align-self-center>
        <div class="ion-text-center">
          <h1> Enter your user account's verified email address and we will send you a password reset link.</h1>
          </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input class="input" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="button-center">
    <ion-button (click)="recovery()" routerDirection="forward" shape="round" expand="block" color="success">Send email</ion-button>

    <ion-button [routerLink]="['/login']" routerDirection="back" shape="undefined" expand="block" fill="clear" color="danger">Cancel</ion-button>
  </div>
</ion-content>
