<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1" color="light">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!--page is one element in the array "navigate" located in app.component.ts-->
      <ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
          <ion-item (click) = "logout(pages.title)" [routerLink]="pages.url" routerDirection="root">
              <ion-icon [name]="pages.icon" slot="start" color="primary"></ion-icon>
                {{pages.title}}
          </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
